<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content }}

    <!-- Giscus -->
    <script src="https://giscus.app/client.js"
            data-repo="USER/REPO"
            data-repo-id="REPO_ID"
            data-category="General"
            data-category-id="CATEGORY_ID"
            data-mapping="pathname"
            data-theme="light"
            crossorigin="anonymous"
            async>
    </script>
    <div class="giscus"></div>
  </body>
</html>
